<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- This is used for CSRF protection -->
        <div>
            {{ form.username.label }}
            {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email(size=20) }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=20) }}
        </div>
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=20) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
