*.env

__pycache__/

./app/__pycache__/
/app/__pycache__/

.pytest_cache/

*.pyc
*.pyo
*.egg-info/
dist/
build/

.vscode/
.idea/

.vscode-server/
.settings/ 
.project 
.pycharm/ 
*.log

*.tmp

Thumbs.db
desktop.ini
*.so
*.dll
*.exe
*.bin
*.out
*~
db.sqlite3
.vscode/
.idea/